{% extends "base.html" %}

{% block content %}

<header class="sub-title">
    <h1>Rock-Paper-Scissors</h1>
    <h2>
        Here you can play against your friends or 
        our vastly developed AI
    </h2>
</header>

<section class="main">
    <h2>Game Rules</h2>

    <h3>Pick your choice from the dropdown menu</h3>
    <h3>Click submit to see the results</h3>
    <br>
    <h3>Here are the winning rules</h3>
    <ul>
        <li>Rock beats Scissors</li>
        <li>Scissors beat Paper</li>
        <li>Paper beats Rock</li>
    </ul>

</section>

{% endblock %}